In [21]:
import pandas as pd
import numpy as np
import nltk
import os
import sys

In [22]:
data =pd.read_csv('D:\Mentor Boxx-Machine Learning Training\ML & Data Science INTRN\MasterDictionry.csv') #usecols=['Word','Negative','Positive']
data.head()

,Word,Sequence Number,Word Count,Word Proportion,Average Proportion,Std Dev,Doc Count,Negative,Positive,Uncertainty,Litigious,Constraining,Superfluous,Interesting,Modal,Irr_Verb,Harvard_IV,Syllables,Source
0,AARDVARK,1,277,1.480000e-08,1.240000e-08,3.560000e-06,84,0,0,0,0,0,0,0,0,0,0,2,12of12inf
1,AARDVARKS,2,3,1.600000e-10,9.730000e-12,9.860000e-09,1,0,0,0,0,0,0,0,0,0,0,2,12of12inf
2,ABACI,3,8,4.280000e-10,1.390000e-10,6.230000e-08,7,0,0,0,0,0,0,0,0,0,0,3,12of12inf
3,ABACK,4,12,6.410000e-10,3.160000e-10,9.380000e-08,12,0,0,0,0,0,0,0,0,0,0,2,12of12inf
4,ABACUS,5,7250,3.870000e-07,3.680000e-07,3.370000e-05,914,0,0,0,0,0,0,0,0,0,0,3,12of12inf

## Reduce the DataSet Size

In [48]:
chunksize = 10
for chunk in pd.read_csv('D:\Mentor Boxx-Machine Learning Training\ML & Data Science INTRN\MasterDictionry.csv', chunksize=chunksize):
    print(chunk.shape)
    print('='*44)
    print(chunk.head(2))
    print('='*44)
    break

(10, 19)
============================================
        Word  Sequence Number  Word Count  Word Proportion  \
0   AARDVARK                1         277     1.480000e-08
1  AARDVARKS                2           3     1.600000e-10

   Average Proportion       Std Dev  Doc Count  Negative  Positive  \
0        1.240000e-08  3.560000e-06         84         0         0
1        9.730000e-12  9.860000e-09          1         0         0

   Uncertainty  Litigious  Constraining  Superfluous  Interesting  Modal  \
0            0          0             0            0            0      0
1            0          0             0            0            0      0

   Irr_Verb  Harvard_IV  Syllables     Source
0         0           0          2  12of12inf
1         0           0          2  12of12inf
============================================

In [15]:
MyList=[]
chunksize = 10
for chunk in pd.read_csv('D:\Mentor Boxx-Machine Learning Training\ML & Data Science INTRN\MasterDictionry.csv', chunksize=chunksize):
    MyList.append(chunk)

## 86486/10(chunk size)

In [52]:
len(MyList)

8649

## Lets see one of the chunk

In [63]:
MyList[0]

,Word,Sequence Number,Word Count,Word Proportion,Average Proportion,Std Dev,Doc Count,Negative,Positive,Uncertainty,Litigious,Constraining,Superfluous,Interesting,Modal,Irr_Verb,Harvard_IV,Syllables,Source
0,AARDVARK,1,277,1.480000e-08,1.240000e-08,3.560000e-06,84,0,0,0,0,0,0,0,0,0,0,2,12of12inf
1,AARDVARKS,2,3,1.600000e-10,9.730000e-12,9.860000e-09,1,0,0,0,0,0,0,0,0,0,0,2,12of12inf
2,ABACI,3,8,4.280000e-10,1.390000e-10,6.230000e-08,7,0,0,0,0,0,0,0,0,0,0,3,12of12inf
3,ABACK,4,12,6.410000e-10,3.160000e-10,9.380000e-08,12,0,0,0,0,0,0,0,0,0,0,2,12of12inf
4,ABACUS,5,7250,3.870000e-07,3.680000e-07,3.370000e-05,914,0,0,0,0,0,0,0,0,0,0,3,12of12inf
5,ABACUSES,6,0,0.000000e+00,0.000000e+00,0.000000e+00,0,0,0,0,0,0,0,0,0,0,0,4,12of12inf
6,ABAFT,7,4,2.140000e-10,2.660000e-11,2.690000e-08,1,0,0,0,0,0,0,0,0,0,0,2,12of12inf
7,ABALONE,8,103,5.500000e-09,3.850000e-09,9.250000e-07,41,0,0,0,0,0,0,0,0,0,0,4,12of12inf
8,ABALONES,9,0,0.000000e+00,0.000000e+00,0.000000e+00,0,0,0,0,0,0,0,0,0,0,0,4,12of12inf
9,ABANDON,10,103050,5.510000e-06,4.950000e-06,3.750000e-05,56605,2009,0,0,0,0,0,0,0,0,1,3,12of12inf

In [39]:
#independ = data.drop(['Word'], axis=1)
#independ = data.drop(['Source'], axis=1)

In [40]:
#independ.head()

In [41]:
#from sklearn.preprocessing import LabelEncoder
#Word=LabelEncoder()

df1= pd.concat(MyList, axis=1)

In [16]:
#oh_enc_err = oh_ enc.fit_transform(MyList[['Word Count','Word Proportion','Average Proportion','Std Dev','Doc Count','Negative','Positive','Source']])
#oh_enc_err

In [18]:
data.shape

(86486, 19)

In [49]:
from sklearn.preprocessing import OneHotEncoder

In [38]:
#oh_ enc = OneHotEncoder(sparse=True)

In [99]:
data.drop(empty,inplace=True)

In [101]:
data['Word'].value_counts()

COOKWARES    1
DIRER        1
RUNG         1
REAWAKENS    1
FRONTED      1
            ..
DANCE        1
DEADENING    1
SMUGGLING    1
AERATIONS    1
INTEGRITY    1
Name: Word, Length: 86485, dtype: int64

In [32]:
from nltk.stem.porter import PorterStemmer

In [48]:
x=data.iloc[:,:].values
y=pd.DataFrame(x)

In [61]:
from sklearn.preprocessing import LabelEncoder
labelencoder_x = LabelEncoder()
x[:,4]=labelencoder_x.fit_transform(x[:,4])

In [ ]:
data.drop(empty, inplace=True)

In [95]:
#pd.get_dummies(data, drop_first=True).shape

#dummy_df=pd.get_dummies(MyList)
#dummy_df.head()

In [52]:
y =pd.DataFrame(x)

In [103]:
#data['score']=data['Word'].apply(lambda Word : sid.polarity_scores(Word))
data

            Word  Negative  Positive
0       AARDVARK         0         0
1      AARDVARKS         0         0
2          ABACI         0         0
3          ABACK         0         0
4         ABACUS         0         0
...          ...       ...       ...
86481     ZYGOTE         0         0
86482    ZYGOTES         0         0
86483    ZYGOTIC         0         0
86484  ZYMURGIES         0         0
86485    ZYMURGY         0         0

[86486 rows x 3 columns]

In [ ]:
empty = []
for i,rv in dt.itertuples():
    if type(rv)==str:
        if rv.isspace():
            empty.append(1)

In [25]:
from nltk.tokenize import word_tokenize
ps=PorterStemmer()
for w in data.Word:
    #print(ps.stem(w))     # Remove comment will run because lengthy list

SyntaxError: unexpected EOF while parsing (<ipython-input-25-2f39e1b9a630>, line 4)

In [35]:
#Remove the Stop Word
import nltk
stopwords = nltk.corpus.stopwords.words('english')
stopwords[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [110]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid=SentimentIntensityAnalyzer()
sid.polarity_scores(data.loc[0]['Word'])

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [ ]:
data['scores'] = data['Word'].apply(lambda Word: sid.polarity_scores(Word))
data.head()  #'float' object has no attribute 'encode'

In [ ]:
data['score'] =data['Word'].apply(lambda c: 'pos' if c>=0 else 'neg')
#data.head()
#fullname = str(input('<Enter your full name>'));
reviewscore = str(input('<Enter your score>'));

## Print Dictionarywise

In [74]:
data = {'Word':['AARDVARK','ABSTAIN','ACCEDE','ACCOUTRING'],
      'Negative':[-0,-0,-0,-0 ],
       'Positive':[1,1,1,0]}
print(data)

{'Word': ['AARDVARK', 'ABSTAIN', 'ACCEDE', 'ACCOUTRING'], 'Negative': [0, 0, 0, 0], 'Positive': [0, 0, 0, 0]}

In [75]:
df = pd.DataFrame(data)
df

         Word  Negative  Positive
0    AARDVARK         0         0
1     ABSTAIN         0         0
2      ACCEDE         0         0
3  ACCOUTRING         0         0

In [30]:
data = {'Word':['AARDVARK','ABSTAIN','ACCEDE','ACCOUTRING'],
      'Negative':[0,0,0,0 ],
       'Positive':[1,1,1,1]}
print(data)

{'Word': ['AARDVARK', 'ABSTAIN', 'ACCEDE', 'ACCOUTRING'], 'Negative': [0, 0, 0, 0], 'Positive': [1, 1, 1, 1]}

In [ ]:
data['compound']=data['Word'].apply(lambda score_dict: score_dict['compound'])
data.head()

In [46]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [ ]:
accuracy_score(data['Word'], data['comp_score'])